// Specific CSS for your home-page
body {
  color: #2C423D;
}
.photo_titre {
  color: white;
  margin: 3px;
  // display: flex;
  // position: relative;
  background-image: url("https://res.cloudinary.com/dkqxfdutt/image/upload/v1615400365/image_lbdz9a.jpg");
  width: 100vw;
  height: 750px;
  background: linear-gradient (rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));

}


.bottom{border-radius: 10%;
  padding:40px 46px;
  margin: 20px 580px;
  background-color: white;
  & a {
  color: grey;
  font-weight: bolder;

  font-weight: 24px;
  text-decoration: none;
  }
  }


.bottom:hover {
  background-color:white;
  color:grey;
  opacity: 0.90;
  text-decoration: none;
& a {
  color:grey;
  opacity: 0.90;
  text-decoration: none;
  }


}

.photo_titre p{
      color: white;
      padding: 230px 340px;
      text-shadow: #9f785c 0.1em 0.1em 0.2em;
      font-weight: bold;
      font-size: 28px;
      font-family: Montserrat sans-serif;

}

p {color:#9f785c;

}


.photo_titre h1{
      color: white;
      text-shadow: black 0.1em 0.1em 0.2em;
      padding: 50px;
      font-weight: bold;
      font-family: Montserrat sans-serif;
      font-size: 60px;
}
// .home_title {
//       align-items: center;
//       font-weight:bold;
//       font-family: Montserrat ;
//       font-size: 50px;


// }


// .home_title {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   text-align: center;
//   font-family: Montserrat;
//   font-weight: 900;
// }
