// Specific CSS for your home-page
body {
  color: #2C423D;
}
.container {
  display: flex;
  position: relative;
  background-image: url("https://res.cloudinary.com/dkqxfdutt/image/upload/v1615218918/stock-photo-cooking-prep[…]on-cookware-d63e9f58-a666-4da8-ae93-328c872485a7_yrx1s6.jpg");
}
.home_title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Montserrat;
  font-weight: 900;
}
