<!-- <container > -->
  <div class="photo_titre">
    <!-- <h1 class="home_title">Pastry Confiction Tools</h1> -->
    <div class="cadretitre">
    <h1> Pastry Confiction Tools </h1>
    </div>
    <br>
    <br>
    <br>
    <br>


    <div class= "bottomall">
    <!-- <button type="button" class="bottom"><%= link_to "See All Tools", tools_path %> -->
    <a href="#" class= "bottom"> See All Tools</a>
    </div>

    <p> Make The Best Cake, With The Right Tools </p>

  </div>
<!-- </container> -->


