body {
  font-family: "Montserrat", sans-serif;
  color: #2C423D;
}
h1, h2, h3, a, p, strong {
  font-family: "Montserrat", sans-serif;
}

h1 {
color: #577C73;
font-weight:900;
font-size: 40px;
}

h2{
 font-weight:500;
 font-size: 30px;
}

a, p, strong {
font-weight: 400;
font-size: 18px;
}

/* login page */
.new_user {
  font-weight: 300;
}

